/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterix selector to overide default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #141414;
    font-family: 'Space Mono', sans-serif;

}
/* Header */
header {
    background-color: #00aaaa;
}

h1 {
    font-family: 'Mulish', sans-serif;
}
/* Main */
main {
    background-color: #ffac1c;
    /* Make the main element take up all available space and psuh footer to bottom*/
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: #005555;
}