/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterix selector to overide default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #fafafa;
    font-family: 'Space Mono', sans-serif;

}

h1, h2, h3 {
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fafafa;
}
/* Header */
header {
    background-color: #00aaaa;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #005555;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu   {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid #141414;
}

/* nav bar styles and drop down */
nav {
    position: absolute;
    background-color: #00aaaa;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #005555;
    display: none;
    top: 100%;
    color: #fafafa;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;
}
/* Main */
main {
    background-color: #fafafa;
    /* Make the main element take up all available space and psuh footer to bottom*/
    flex: 1 0 auto;
    margin-top: 90px;
}

/* Hero Styles*/
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/AdobeStock_194158623.jpeg) no-repeat center center / cover;
    position: relative;
}

#cover-heading {
    background-color: rgba(198, 84, 101, 0.5);
    font-size: 130%;
    position: absolute;
    bottom: 20px;
    width: 100%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 20px;
    text-align: center;
}
/* Footer */
footer {
    background-color: #00aaaa;
}
#social-network {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-network i {
    font-size: 160%;
    padding: 5%;
    color: #fafafa;
}

/* Media query for tablets and larger (768px)*/
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
}

/* Media Query: for laptops (992px and larger)*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #fafafa;
    }
}    