/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterix selector to overide default browser styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* generic project styles */
    color: #fafafa;
    font-family: 'Space Mono', sans-serif;

}

h1, h2, h3 {
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fafafa;
}
/* Header */
header {
    background-color: #00aaaa;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 3px 3px #005555;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header h1 {
    text-align: start;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu   {
    font-size: 90%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid #141414;
}

/* nav bar styles and drop down */
nav {
    position: absolute;
    background-color: #00aaaa;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #005555;
    display: none;
    top: 100%;
    color: #fafafa;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;
}
/* Main */
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; 
}

/* Hero Styles*/
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/adobestock_194158623!.webp) no-repeat center center / cover;
    position: relative;
}

#cover-heading {
    background-color: rgba(198, 84, 101, 0.5);
    font-size: 130%;
    position: absolute;
    bottom: 20px;
    width: 100%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 20px;
    text-align: center;
}

#why > h2, h3 {
    color: #005555;
}

#why > h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 180%;
}
#why {
    width: 90%;
    margin: 20px auto;
    color: #005555;
}

.why-text {
    margin: 20px;
    text-align: center;
}

.why-text > h3 {
    border-bottom: 1px solid rgb(198, 84, 101);
}

#why-images-one,  #why-images-two, #why-images-three, #why-images-four{
    display: flex;
}

.rounded-image-one {
    background: url(../images/adobestock_764491098!.webp) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin: 20px;
    border-radius: 25%;
    max-width: 350px;
    max-height: 350px; 
}

.rounded-image-two {
    background: url(../images/adobestock_905242371!.webp) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin: 20px;
    border-radius: 25%;
    max-width: 350px;
    max-height: 350px
}


.rounded-image-three {
    background: url(../images/adobestock_434253933!.webp) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin: 20px;
    border-radius: 25%;
    max-width: 350px;
    max-height: 350px
}

.rounded-image-four {
    background: url(../images/adobestock_774392307!.webp) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin: 20px;
    border-radius: 25%;
    max-width: 350px;
    max-height: 350px
}
/* sessions html styles*/
#sessions {
    background: url(../images/adobestock_633496174!.webp) no-repeat center / cover;
    display: flex;
    flex-wrap: wrap;
}
#times {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust columns based on available space */
    gap: 20px; /* Space between items */
    padding: 20px;
}

#times > div {
    color: #fafafa;
    background-color: rgba(128, 40, 53, 0.5);
    padding: 20px;
    text-align: center;
    border: 2px solid #fafafa;
}

#sessions h3 {
    color: #fafafa;
    border-bottom: 1px solid #00aaaa;
}

#sessions a {
    color: #00aaaa;
}

/* Sign up styles*/
#get-started {
    background-image: url("../images/adobestock_776109699!.webp");
    background-size: cover;
    background-position: 100%;
    padding: 10%;
    flex-grow: 1;
    
}

#get-started-form {
    color: #fafafa;
    background-color: rgba(198, 84, 101, 0.6);
    padding: 30px;
}

#signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #c65465;
    color: #fafafa;
}
/* Footer */
footer {
    background-color: #00aaaa;
}
#social-network {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-network i {
    font-size: 160%;
    padding: 5%;
    color: #fafafa;
}

/* Media query for tablets and larger (768px)*/
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* why section*/
    #who-we-are, #what-we-do, #who-is-it-for, #where-we-do-it {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #who-we-are > div, #what-we-do > div, #who-is-it-for > div, #where-we-do-it > div {
        width: 75%;
    }

    #who-we-are > div, #who-is-it-for > div {
        text-align: left;
        align-self: flex-start;
    }

    #what-we-do > div, #where-we-do-it > div {
        text-align: end;
        align-self: flex-end;
    }

    /* Get started form */
    #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 300px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #c65465;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #c65465;
    }
}

/* Media Query: for laptops (992px and larger)*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #fafafa;
    }

}    